
.footer {
    max-height: 392px;
    background-color: #000000;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &_logo {
        color: #FFFFFF;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &__logo {
      display: flex;
      margin-right: 145px;
    }
    &_nav {
        width: 352px;
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        letter-spacing: 2px;
        &_li {
            margin-bottom: 25px;
            a {
                font-weight: 200;
                
                &:hover {
                    transition: 0.3s all;
                    color: #9D8665;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-small {
            display: none;
        }
    }
    &_socials {
        display: flex;
        margin-top: 78px;
        &_social {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &_circle {
            width: 46px;
            height: 46px;
            border: 1px solid white;
            border-radius: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s all;
            &:hover {
                transition: 0.3s all;
                filter: invert(43%) sepia(1%) saturate(6899%) hue-rotate(357deg) brightness(125%) contrast(102%);
            }
        }
    }
    &__info {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      div {
        font-size: 22px;
        color: white;
        letter-spacing: 2px;
        font-weight: 200;
      }
      a {
        font-size: 22px;
        color: white;
        letter-spacing: 2px;
        font-weight: 200;
      }
    }
  }