.video {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__subtitle {
      font-size: 22px;
      max-width: 720px;
      
      font-weight: 300;
      line-height: 175%;
    }
    &__container {
      margin-top: 40px;
      display: flex;
      iframe {
        margin-right: 42px;
      }
      :last-child {
        margin-right: 0;
      }
    }
    &__slider {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      &_prev {
        background-image: url(./../assets/svg/video/prev.svg);
        width: 10px;
        height: 12px;
        transform: rotate(180deg);
        cursor: pointer;
        margin-right: 20px;
        transition: 0.3s all;
        &:hover {
          transition: 0.3s all;
          filter: invert(55%) sepia(18%) saturate(656%) hue-rotate(356deg) brightness(94%) contrast(84%);
        }
      }
      &_next {
        background-image: url(./../assets/svg/video/prev.svg);
        width: 10px;
        height: 12px;
        cursor: pointer;
        margin-left: 20px;
        transition: 0.3s all;
        &:hover {
          transition: 0.3s all;
          filter: invert(55%) sepia(18%) saturate(656%) hue-rotate(356deg) brightness(94%) contrast(84%);
        }
      }
      &_dots {
        display: flex;
        width: unset !important;
        :last-child {
          margin-right: 0 !important;
        }
      }
      &_dot {
        width: 12px !important;
        height: 12px !important;
        border-radius: 100% !important;
        background-color: #999999 !important;
        margin-right: 20px !important;
        cursor: pointer !important;
        &-active {
          background-color: #333333 !important;
        }
      }
    }
    &__yotube {
      width: 452px;
      height: 254px;
    }
  }
  


.fullscreen {
  transition: .3s all;
  &:hover {
      color: #989898;
  }
}

.player {
  margin-top: 75px;
  position: relative;
  font-size: 0;
  &:fullscreen {
      max-width: none;
      width: 100%;
  }
  &__controls {
      padding: 0 30px 0 25px;
      height: 85px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  &__buttons {
      display: flex;
      justify-content: space-between;
  }
  &__button {
      background: black;
      border: none;
      cursor: pointer;
      img {
          height: 31px;
          width: 23px;
      }
  }
  &__progress {
      margin: 13.8px 0;
      background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
      -webkit-appearance: none;
      &-small {
        display: none;
      }
      &::-webkit-slider-thumb {
          margin-top: -3.7px;
          width: 15px;
          height: 15px;
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 100px;
          cursor: pointer;
          -webkit-appearance: none;
      }
      &::-webkit-slider-runnable-track {
          width: 100%;
          height: 8px;
          cursor: pointer;
          -webkit-appearance: none;
      }
      &:focus {
          outline: none;
      }
      width: 929px;
  }
  &__volume {
      width: 155px;
      margin: 13.8px 0;
      background-color: transparent;
      -webkit-appearance: none;
      background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
          &::-webkit-slider-thumb {
              margin-top: -3.7px;
              width: 15px;
              height: 15px;
              background: white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 100px;
              cursor: pointer;
              -webkit-appearance: none;
          }
          &::-webkit-slider-runnable-track {
              width: 100%;
              height: 8px;
              cursor: pointer;
              -webkit-appearance: none;
          }
       }
    &__overlay {
      background-image: url(./../assets/svg/playBGC.svg);
      background-size: cover;
      border: 1px solid white;
      border-radius: 100%;
      // padding: 49.91px 76.53px 49.91px 52.05px;
      width: 220px;
      height: 220px;
      position: absolute;
      left: calc(50% - 110px);
      top: calc(50% - 160px);
    }
}
.fullscreen {
  img {
    width: 35px;
    height: 35px;
    transition: 0.3s all;
    &:hover {
      filter: invert(68%) sepia(0%) saturate(1502%) hue-rotate(251deg) brightness(90%) contrast(86%);
      transition: 0.3s all;
    }
  }
}
.volumeBtn {
  img {
    width: 38px;
    height: 31px;
  }
}
.videomp4 {
  width: 100%;
  height: 650px;
  z-index: 1;
  object-fit: inherit;
  &:fullscreen {
    background-color: #fff;
  }
}
.volume {
  width: 36px;
  height: 30px;
}
.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}
.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 10%;
}

.video-section {
  overflow: hidden;
}