@media (max-width: 1024px) {
    .video {
        &__subtitle {
            display: none;
        }
        &__yotube {
            height: 170px;
            width: 30.48%;
        }
        &__container {
            // flex-wrap: wrap;
        }
    }
    .player {
        margin-top: 40px;
        &__button {
            img {
                width: 23px;
                height: 30px;
            }
        }
        &__progress {
            width: 564px;
            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
            &::-webkit-slider-runnable-track {
                height: 5px;
            }
        }
        &__volume {
            width: 143px;
            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
            &::-webkit-slider-runnable-track {
                height: 5px;
            }
        }
        &__overlay {
            width: 150px;
            height: 150px;
            left: calc(50% - 76px);
            top: calc(50% - 103px);
        }
        &__controls {
            height: 60px;
            padding: 0 40px;
        }
    }
    .videomp4 {
        height: 444px;
    }
    .volumeBtn {
        img {
            width: 26px;
            height: 20px;
        }
    }
    .video-section {
        padding: 60px 0;
    }
    .fullscreen {
        img {
            width: 26px;
            height: 26px;
        }
    }
}

@media (max-width: 768px) {
    .video-section {
        padding: 40px 0 81px;
    }
    .video {
        &__yotube {
            height: 199px;
            width: 48.63%;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            iframe {
                margin-right: 0;
            }
            :last-child {
                display: none;
            }
        }
        &__slider {
            margin-top: 20px;
        }
    }
    .player {
        margin-top: 20px;
        &__button {
            img {
                width: 23px;
                height: 29px;
            }
        }
        &__progress {
            display: none;
            &-small {
                position: absolute;
                display: block;
                width: 100%;
                bottom: 11%;
            }
        }
        &__volume {
            width: 486px;
            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
            &::-webkit-slider-runnable-track {
                height: 5px;
            }
        }
        &__overlay {
            width: 80px;
            height: 80px;
            left: calc(50% - 40px);
            top: calc(50% - 73px);
        }
        &__controls {
            height: 57px;
            padding: 0 30px; 
        }
    }
    .videomp4 {
        max-width: 728px;
        height: 329px;
    }
    .volumeBtn {
        img {
            width: 27px;
            height: 21px;
        }
    }
    .fullscreen {
        width: 27px;
        height: 27px;
        img {
            width: 27px;
            height: 27px;
        }
    }
}

@media (max-width: 420px) {
    .video-section {
        padding: 40px 0;
    }
    .video {
        &__yotube {
            height: 101px;
            width: 48%;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            iframe {
                margin-right: 0;
            }
            :last-child {
                display: none;
            }
        }
        &__slider {
            margin-top: 40px;
            &_dot {
                width: 8px;
                height: 8px;
            }
            &_prev, &_next {
                width: 7px;
                height: 8px;
                background-size: cover;
            }
        }
    }
    .player {
        margin-top: 20px;
        &__button {
            img {
                width: 14x;
                height: 18px;
            }
        }
        &__progress {
            &-small {
                position: absolute;
                display: block;
                width: 100%;
                bottom: 15%;
            }
            &::-webkit-slider-thumb {
                width: 10px;
                height: 13p0x;
            }
            &::-webkit-slider-runnable-track {
                height: 4px;
            }
        }
        &__volume {
            width: 195px;
            &::-webkit-slider-thumb {
                width: 10px;
                height: 10px;
            }
            &::-webkit-slider-runnable-track {
                height: 4px;
            }
        }
        &__overlay {
            width: 50px;
            height: 50px;
            left: calc(50% - 25px);
            top: calc(50% - 50px);
        }
        &__controls {
            height: 50px;
            padding: 0 20px;
        }
    }
    .videomp4 {
        width: 100%;
        height: 172px;
    }
    .volumeBtn {
        img {
            width: 27px;
            height: 21px;
        }
    }
    .play {
        height: 18px;
        width: 14px;
    }
    .volumeBtn {
        width: 18px;
        height: 14px;
        img {
            width: 18px;
            height: 14px;
        }
    }
}

