@media (max-width: 1024px) {
    .contacts {
        height: unset;
        &__container {
            margin-top: 60px;
        }
        &_info {
            height: 454px;
            &_title {
                font-size: 24px;
            }
            &_wrap {
                margin-top: 35px;
                h4 {
                    font-size: 20px;
                }
            }
            &_information {
                margin-bottom: 15px;
            }
        }
    }
    .map {
        max-width: 694px;
        height: 454px;
    }
}
   
@media (max-width: 768px) {
    .contacts {
        height: 850px;
        &__container {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
        }
        &_info {
            width: unset;
            height: unset;
            &_title {
                font-size: 20px;
            }
            &_wrap {
                margin-top: 40px;
                h4 {
                    font-size: 18px;
                }
            }
            &_information {
                margin-bottom: 15px;
            }
            &-img {
                margin-top: 40px;
            }
        }
    }
    .map {
        margin-top: 40px;
        max-width: 728px;
        height: 476px;
        width: unset;
    }
}

@media (max-width: 420px) {
    .contacts {
        height: unset;
        &__container {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
        }
        &_info {
            width: unset;
            height: unset;
            &_title {
                font-size: 16px;
            }
            &_wrap {
                margin-top: 40px;
                h4 {
                    font-size: 16px;
                }
            }
            &_information {
                margin-bottom: 15px;
            }
            &-img {
                margin-top: 40px;
                width: 380px;
                height: 248px;
            }
        }
    }
    .map {
        max-width: 380px;
        height: 248px;
    }
}
   