.gallery {
    height: 2050px;
    overflow-y: hidden;
    &__inner__container {
      margin-top: 75px;
      display: flex;
      flex-flow: column wrap;
      gap: 24px 36px;
      height: 3000px;
    }
    &__img {
      object-fit: cover;
      transform: translateY(30%);
      opacity: 0;
      transition: 0.5s all;
      max-height: 570px;
      max-width: 456px;
      &_active {
        transition: 0.5s all;
        transform: translateY(0);
        opacity: 1;
      }
    }
    &__item {
      &:nth-child(3n+1) {
        order: 1;
      }
      &:nth-child(3n+2) {
        order: 2;
      }
      &:nth-child(3n) {
        order: 3;
      }
      &:nth-child(1) {
        margin-top: 50px;
      }
      &:nth-child(3) {
        margin-top: 50px;
      }
    }
    &__shadow {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      position: absolute;
      bottom: 1036px;
      height: 239px;
      width: 100%;
      z-index: 100;
    }
  }


  .gallery__shadow-wrapper {
    position: relative;
  }