.welcome {
    height: 810px;
    background-color: #030303;
    background-position: calc(50% + 220px) 0;
    position: relative;
    &__container {
      position: relative;
    }
    &__wrapper {
      display: flex;
    }
    &__left {
      z-index: 100;
    }
    &__title {
      padding-top: 150px;
    }
    &__subtitle {
      margin-top: 25px;
      font-size: 28px;
      color: white;
      letter-spacing: 2px;
      
      font-weight: 300;
    }
    &__btn {
      margin-top: 75px;
      display: block;
      background-color: #710707;
      border-radius: 10px;
      width: 360px;
      height: 75px;
      color: white;
      font-size: 22px;
      letter-spacing: 2px;
      font-weight: 300;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s all;
      &:hover {
        background-color: #9D8665;
        transition: 0.3s all;
      }
    }
    &__shadow {
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 40.19%, rgba(0, 0, 0, 0) 84.73%);
      position: absolute;
      width: 12%;
      z-index: 10;
      height: 141%;
      left: 439px;
    }
    &__slider {
      width: 600px;
      height: 120px;
      position: absolute; 
      color: white;
      z-index: 100;
      bottom: 0;
      left: calc(50% + 120px);;
      background-color: #030303;
      &_container {
        padding: 45px 43px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &_current {
        font-size: 22px;
        
      }
      &_count {
        display: flex !important;
        width: unset !important;
        :last-child {
          margin-right: 0 !important;
        }
      }
      &__controls {
        display: flex;
        justify-content: space-between;
        &_prev, &_next {
          background-image: url(./../assets/svg/prev.svg) !important;
          width: 30px !important;
          height: 8px !important;
          cursor: pointer !important;
          margin-right: 20px !important;
          transition: 0.3s all !important;
          &:hover {
            transition: 0.3s all !important;
            filter: invert(55%) sepia(18%) saturate(656%) hue-rotate(356deg) brightness(94%) contrast(84%) !important;
          }
        }
        &_next {
          transform: rotate(180deg);
        }
      }
      &-img {
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
      }
    }
  }

  .swiper {
    width: 69.5%;
    height: 140.78%;
    position: absolute;
    right: 0;
  }

  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-color: #fff !important;
    margin: 0 25px 0 0 !important;
    cursor: pointer !important;
    border-radius: unset !important;
    opacity: 1 !important;
    
   }
  
   .swiper-pagination-bullet-active {
    background-color: #D2B183 !important; 
   }