@media (max-width: 1440px) {
    .welcome {
        &__slider {
            right: 0;
            left: unset;
        }
    }
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 50px;
    }
    .welcome {
        height: 585px;
        &__title {
            padding-top: 50px;
            line-height: 90px;
        }
        &__subtitle {
            font-size: 24px;
        }
        &__btn {
            width: 300px;
            height: 60px;
            font-size: 20px;
            margin-top: 50px;
        }
        &__slider {
            right: 0;
            width: 100%;
            &_container {
                justify-content: end;
                padding: 47px 31px;
                div {
                    margin-right: 45px;
                }
            }
            &_current {
                font-size: 20px;
            }
            &__controls {
                margin-right: 75px;
            }
        }
        &__shadow {
            display: none;
        }
    }
    .socials {
        display: none;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
    .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 40px 0;
    }
    .section-title {
        font-size: 40px;
    }
    .swiper {
        position: relative;
        height: 546px;
        width: 100%;
        margin-top: 50px;
    }
    .welcome {
        height: 861px;
        &__wrapper {
            flex-direction: column;
        }
        &__title {
            text-align: center;
            padding-top: 0px;
            line-height: 60px;
        }
        &__subtitle {
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
        }
        &__btn {
            display: none;
        }
        &__slider {
            bottom: unset;
            width: 100%;
            height: unset;
            overflow: hidden;
            &_container {
                padding: 37px 119px 17px 194px;
                justify-content: unset;
            }
            &_current {
                font-size: 20px;
            }
        }
    }
    .header__hamburger {
        width: 100%;
        height: 100%;
    }
    .hamburger {
        &__imgs {
            padding-top: 35px;
            display: grid;
            grid-template-columns: repeat(2, 319px);
            gap: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 35px;
            &-img1 {
                width: 658px;
                height: 194px;
                background-image: url(./../assets/img/welcome/image15.jpg);
                background-repeat: no-repeat;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &-img2 {
                background-image: url(./../assets/img/welcome/image17.jpg) ;
                background-repeat: no-repeat;
                width: 319px;
                height: 161px;
            }
            &-img3 {
                background-image: url(./../assets/img/welcome/image16.jpg);
                background-repeat: no-repeat;
                width: 319px;
                height: 161px;
            }
        }
        &__socials {
            padding-top: 35px;
            flex-direction: row;
            display: flex;
            justify-content: center;
        }
    }
    .socials {
        display: block;
    }
}

@media (max-width: 420px) {
    .section-title {
        font-size: 28px;
    }
    .swiper {
        position: relative;
        height: 285px;
        width: 100%;
        margin-top: 50px;
    }
    .swiper-pagination-bullet {
        width: 7px !important;
        height: 7px !important;
        margin: 0px 0 0 10px !important;
    }
    .welcome__slider__controls_next, .welcome__slider__controls_prev {
        width: 20px !important;
        height: 8px !important;
    }
    .welcome {
        height: 544px;
        &__title {
            text-align: center;
            padding-top: 5px;
            line-height: 40px;
        }
        &__subtitle {
            text-align: center;
            margin-top: 25px;
            font-size: 16px;
        }
        &__slider {
            bottom: unset;
            width: 100%;
            height: unset;
            &_container {
                padding: 30px 73px 27px 96px;
                justify-content: space-between;
                div {
                    margin-right: 0;
                }
            }
            &_current {
                font-size: 16px;
            }
        }
    }
    .hamburger {
        &__imgs {
            padding-top: 35px;
            display: flex;
            gap: unset;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 35px;
            &-img1 {
                width: 95px;
                height: 95px;
                background-image: url(./../assets/img/welcome/imagesmall1.jpg);
                background-repeat: no-repeat;
                grid-column-start: 1;
                grid-column-end: 3;
                margin-right: 12px;
            }
            &-img2 {
                background-image: url(./../assets/img/welcome/imagesmall3.jpg) ;
                background-repeat: no-repeat;
                width: 95px;
                height: 95px;
                margin-right: 12px;
            }
            &-img3 {
                background-image: url(./../assets/img/welcome/imagesmall2.jpg);
                background-repeat: no-repeat;
                width: 95px;
                height: 95px;
            }
        }
        &__socials {
            padding-top: 35px;
            flex-direction: row;
            display: flex;
            justify-content: center;
        }
    }
}

