@media (max-width: 1024px) {
    .container {
        max-width: 984px;
        width: unset;
    }
    .header {
        height: 130px;
        &__nav {
            display: none;
        }
        &__container {
            padding-top: 50px;
        }
    }
    .section-title {
        line-height: 75px;
    }
    .section {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }
    .header {
        height: 110px;
        &__nav {
            display: none;
        }
        &__container {
            padding-top: 43px;
        }
    }
    .section-title {
        line-height: 60px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 90.5%;
    }
    .header {
        height: 90px;
        &__nav {
            display: none;
        }
        &__logo {
            &_svg {
                width: 29px;
                height: 16px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &_text {
                font-size: 16px;
            }
        }
        &__container {
            padding-top: 37px;
        }
    }
    .section-title {
        font-size: 28px;
        line-height: 40px;
    }
    .section {
        padding: 40px 0;
    }
}

