@media (max-width: 1024px) {
 .visiting {
     &__container {
         padding-top: 60px;
         gap: 60px 108px;
     }
     &_cards {
         height: 345px;
         width: 330px;
         img {
             width: 330px;
             height: 215px;
         }
         &_title {
             font-size: 28px;
             letter-spacing: 3px;
             margin-top: 20px;
         }
         &_underline {
             width: 150px;
         }
         &_tour {
             font-size: 20px;
             font-weight: 200;
         }
         &_subtitle {
             font-size: 16px;
             margin-top: 10px;
         }
     }
 }
 .title-border {
     padding-bottom: 20px;
 }
}

@media (max-width: 768px) {
    .visiting {
        min-height: 1146px;
        &__container {
            padding-top: 40px;
            gap: 40px 56px;
        }
        &_cards {
            max-width: 280px;
            max-height: 301px;
            img {
                width: 280px;
                height: 180px;
            }
            &_title {
                font-size: 22px;
                margin-top: 21px;
            }
            &_underline {
                width: 150px;
            }
            &_tour {
                font-size: 18px;
            }
            &_subtitle {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 420px) {
    .visiting {
        &__container {
            gap: 40px 56px;
        }
        &_cards {
            max-width: 280px;
            max-height: 295px;
            img {
                width: 280px;
                height: 180px;
            }
            &_title {
                font-size: 18px;
                letter-spacing: 5px;
            }
            &_underline {
                width: 150px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

