.visiting {
    min-height: 1116px;
    &__container {
      padding-top: 75px;
      max-width: 1440px;
      display: flex;
      flex-wrap: wrap;
      gap: 75px 60px;
      justify-content: center;
    }
    &_cards {
      display: block;
      color: black;
      height: 424px;
      img {
        height: 285px;
        width: 440px;
      }
      &:hover {
        .visiting_cards_underline {
            transition: 0.3s all;
            width: 100%;
        }
      }
      &_title {
        font-family: 'Forum', sans-serif;
        font-size: 32px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-top: 25px;
        font-weight: 400;
      }
      &_underline {
        margin: 10px 0;
        width: 300px;
        height: 2px;
        background-color: #710707;
        transition: 0.3s all;
      }
      &_tour {
        font-size: 22px;
        font-weight: 200; 
      }
      &_subtitle {
        font-size: 18px;
        margin-top: 11px;
        font-weight: 200;
      }
    }
  }